<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between align-items-center bg-dark text-white">
      <h5 class="mb-0">Lista de Traspasos</h5>
      <a 
        *ngIf="hasPermission('CREAR_TRASPASO')" 
      routerLink="/transfers/create" class="btn btn-light btn-sm">
        <i class="bi bi-plus-circle"></i> Crear Traspaso
      </a>
    </div>
    <div class="card-body p-4">
      <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle">
          <thead class="table-light">
            <tr>
              <th>ID</th>
              <th>Fecha</th>
              <th>Descripción</th>
              <th>Usuario</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transfer of transfers">
              <td>{{ transfer.id }}</td>
              <td>{{ transfer.date | date: 'short' }}</td>
              <td>{{ transfer.description }}</td>
              <td>{{ transfer.userName }}</td>
              <td>
                <div class="d-flex flex-row gap-2 justify-content-center">
                  <button 
                  *ngIf="hasPermission('VER_TRASPASO')" 
                  class="btn btn-sm btn-outline-info" (click)="viewDetails(transfer.id)">
                    Ver Detalles
                  </button>
                  <button 
                  *ngIf="hasPermission('ELIMINAR_TRASPASO')" 
                  class="btn btn-sm btn-outline-danger" (click)="deleteTransfer(transfer.id)">
                    <i class="bi bi-trash"></i> Eliminar
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Paginación -->
      <nav class="mt-3">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 0">
            <button class="page-link" (click)="goToPage(currentPage - 1)">Anterior</button>
          </li>

          <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
            [class.active]="i === currentPage">
            <button class="page-link" (click)="goToPage(i)">{{ i + 1 }}</button>
          </li>

          <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
            <button class="page-link" (click)="goToPage(currentPage + 1)">Siguiente</button>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</div>