<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between align-items-center bg-dark text-white">
      <h5 class="mb-0">Lista de Compras</h5>
      <a routerLink="/purchases/create" class="btn btn-light btn-sm">
        <i class="bi bi-plus-circle"></i> Crear Compras
      </a>
    </div>

    <table *ngIf="purchases.length > 0" class="table table-bordered table-hover">
      <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>Monto Total</th>
          <th>Cantidad Total</th>
          <th>Fecha de Compra</th>
          <th>ID Proveedor</th>
          <th>ID Usuario</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchase of purchases">
          <td>{{ purchase.id }}</td>
          <td>{{ purchase.totalAmount | currency:'Bs ' }}</td>
          <td>{{ purchase.totalQuantity }}</td>
          <td>{{ purchase.purchaseDate | date:'medium' }}</td>
          <td>{{ purchase.supplierId }}</td>
          <td>{{ purchase.userId }}</td>
          <td>
            <div class="d-flex flex-row gap-2 justify-content-center">
                <button class="btn btn-sm btn-outline-info" (click)="viewDetails(purchase.id)">
                    Ver Detalles
                </button>
                <button class="btn btn-sm btn-outline-danger" (click)="deletePurchase(purchase.id)">
                    <i class="bi bi-trash"></i> Eliminar
                </button>
                </div>
            </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="purchases.length === 0 && !isLoading" class="alert alert-info">
      No hay compras para mostrar.
    </div>

    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

    <div *ngIf="totalPages > 1" class="d-flex justify-content-between align-items-center mt-3">
      <button class="btn btn-outline-secondary btn-sm" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 0">
        Anterior
      </button>

      <span class="fw-semibold">Página {{ currentPage + 1 }} de {{ totalPages }}</span>

      <button class="btn btn-outline-secondary btn-sm" (click)="goToPage(currentPage + 1)" [disabled]="currentPage >= totalPages - 1">
        Siguiente
      </button>
    </div>

    <div *ngIf="isLoading" class="text-center mt-3">
      <div class="spinner-border text-primary" role="status"></div>
    </div>
  </div>
</div>
